.box
  .main
    .main-title
      .main-title__today 今日のお掃除
      %span.main-title__date 7/14 Tues


    .main-list
      %p.main-list__list__1 トイレ掃除
      %p.main-list__list__2 洗面所掃除
      %p.main-list__list__3
      %p.main-list__list__4
      %p.main-list__list__4
      %p.main-list__list__5


-# <h1>タスク一覧</h1>
-# <table>
-#   <thead>
-#     <tr>
-#       <th>タスク名</th>
-#     </tr>
-#   </thead>
-#   <tbody>
-#     <% @tasks.each do |task| %>
-#       <tr>
-#         <td><%= task.title %></td>
-#       </tr>
-#     <% end %>
-#   </tbody>
-# </table>