.header
  .header__top
    .header__top__login
    .header__top__signup

.top
  .top__title
    %p.title おうちキレイ
    %p.subtitle 5min-Habits
  .top__info
    %p.title-1 ふっと気がついたら
    %p.title-1 毎日の簡単おそうじが習慣になっちゃった。
    %p.title-1 <br>お出かけ前の歯みがきみたいに。