.header {
  height: 130px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  background-image: url("header-1.jpg");
  filter:brightness(130%);
  background-size: cover;
  background-position: center;
  &__left {
    background-size: cover;
    background-position: center;
    display: -webkit-flex;
    display: flex;
    color: #050511;
    &__title {
      margin: 15px 0 0 25px;
      font-size: 50px;
      p.subtitle {
        font-size: 35px;
        margin-left: 35px;
        line-height: 50%;
      }
    }
    &__message {
      margin: 35px 0 0 80px;
      p.title-1, .title-2, .title-3 {
        font-size: 15px;
      }
      p.title-2 {
        margin-left: 20px;
        line-height: 120%;
      }
      p.title-3 {
        margin: 10px 0 0 170px;
      }
    }
  }
  &__right {
    text-align: right;
    &__new, &__login {
      display: inline-block;
      text-decoration: none;
      background: #23466d;
      color: #FFF;
      font-size: 15px;
      width: 90px;
      height: 90px;
      line-height: 90px;
      border-radius: 50%;
      text-align: center;
      overflow: hidden;
      margin: 30px 30px 20px 0;
    }
    &__new:hover, &__login:hover {
      background: rgb(162, 170, 199);
      color: #23466d;
    }
  }
}
