* {
  box-sizing: border-box;
  font-family :Quicksand, Courier New;
}
.header {
  height: 100px;
  width: 1440px;
  background-color: rgb(237, 248, 248);
}

.top {
  background-image: url("table.jpg");
  height: 700px;
  width: 1440px;
  background-size: cover;
  background-position: center;
  &__title {
    position: absolute;
    color: white;
    font-size: 77px;
    top: 20%;
    left: 10%;
    p.subtitle {
      font-size: 50px;
    }
  }

  &__info {
    position: absolute;
    color: white;
    font-size: 18px;
    top: 50%;
    right: 7%;
  }
}
  