* {
  box-sizing: border-box;
}
.toppage {
  background-color: rgba(159, 247, 255, 0.5);
  height: 100%;
  width: 100%;
  
  .header {
    height: 150px;
    width: 100%;
    background-color: rgba(56, 132, 247, 0.5);
    &__title {
      color: white;
      font-size: 28px;
    }
  }
}
